@model Practical_6.Models.HomeViewModel;


<h1>Employee</h1>
<p>Name: @Model.employee.Name</p>
<p>Email: @Model.employee.Email</p>


<h1>Manager</h1>
<p>Name: @Model.manager.Name</p>
<p>Email: @Model.manager.Email</p>
<p>Department: @Model.manager.Department</p>



<h1>Clerk</h1>
<p>Name: @Model.clerk.Name</p>
<p>Email: @Model.clerk.Email</p>
<p>Section: @Model.clerk.Section</p>